#Remove this line before deploying
_____REMOVE_THIS_LINE_____=True

# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = ""
OWNER_ID =
TELEGRAPH_TOKEN = "5510d49247e5a2662646cb54ea74813868262a9012928503d86042f74d68"
